html, body {
  overflow-x: hidden;
  color: black;
  height: 100%;
  width: 101%;
  margin: 0px;
  padding: 0px; }

html, body {
  overflow-x: hidden;
  color: black;
  height: 100%;
  width: 101%;
  margin: 0px;
  padding: 0px; }

/*estilos header*/
header {
  background-image: url(../images/cuatrovasos.png);
  max-width: 100%;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  padding: 20px;
  padding-bottom: 30%; }

h1 {
  color: white;
  margin-top: 15%;
  background-color: black;
  font-family: "Arvo", serif;
  font-size: 3em;
  padding-top: 2%;
  padding-bottom: 1em; }

.header .nav-principal .conteiner-titulo-nav .titulo-nav {
  font-size: 2em;
  color: white; }

.boton-vermas {
  font-size: 2em;
  background-color: grey; }

.navbar {
  justify-content: space-evenly; }

.nav-principal {
  background-color: grey;
  padding: 0; }

.logo-cdo {
  max-width: 90px !important; }

/**fin estilos header**/
/** estilos header max width 576px **/
@media screen and (max-width: 576px) {
  h1 {
    font-size: 1em;
    margin-top: 85%; }
  .logo-cdo {
    max-width: 40px !important; }
  .boton-vermas {
    font-size: 1em; }
  .sub-t {
    font-size: 1em;
    color: black; }
  .nav-pag {
    margin-bottom: 30%; }
  .navbar-nav {
    margin-top: 3%; } }

/** fin estilos max width 576px **/
html, body {
  overflow-x: hidden;
  color: black;
  height: 100%;
  width: 101%;
  margin: 0px;
  padding: 0px; }

/** estilos especialidades**/
main {
  font-family: "Arvo", serif;
  background-image: url(../images/marcascervezas.jpg) !important; }

.conth3 {
  text-align: center;
  background-image: linear-gradient(to bottom, #2C3246, #9195a0, #FFFFFF);
  margin-bottom: 8%; }

h3 {
  padding-top: 10%;
  padding-bottom: 5%;
  color: #1b8ce0;
  font-weight: 900;
  font-size: 60px; }

.imagenuno-esp {
  margin-bottom: 5%; }

@media screen and (max-width: 576px) {
  .iconos-pagos {
    display: flex;
    flex-direction: column; }
  .iconomp {
    max-width: 100px; }
  .iconotrasnf {
    max-width: 100px;
    margin-top: 20%;
    margin-bottom: 20%; }
  h3 {
    font-size: 20px; }
  .imagenuno-esp {
    padding-bottom: 15%; }
  .card-text {
    font-size: small; } }

/*fin estilo especialidades*/
html, body {
  overflow-x: hidden;
  color: black;
  height: 100%;
  width: 101%;
  margin: 0px;
  padding: 0px; }

/*estilos cervezas */
.cont-h3 {
  text-align: center;
  background-image: linear-gradient(to bottom, #2C3246, #9195a0, #FFFFFF);
  margin-bottom: 8%; }

.titulo-cerveza {
  margin-top: 10%; }

.parrafo-cerveza .div-parr-cer .parrafo-cerv {
  margin-bottom: 5%;
  text-decoration: underline; }

ul li {
  margin-bottom: 6%; }

.img-cerveza {
  padding-top: 5%;
  padding-bottom: 5%; }

.foto-copa {
  max-width: 100%; }

.bg-images {
  background-image: url(../images/degustacion.png);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  padding-top: 5%;
  padding-bottom: 5%; }

.contenedor-cervezas {
  margin-bottom: 10%; }

/*fin estilos cervezas*/
html, body {
  overflow-x: hidden;
  color: black;
  height: 100%;
  width: 101%;
  margin: 0px;
  padding: 0px; }

/*estilos seccion postres*/
.titulo-postre {
  text-align: center;
  background-image: linear-gradient(to bottom, #2C3246, #9195a0, #FFFFFF);
  margin-bottom: 8%; }

.parrafo-postre {
  font-size: x-large; }

@media screen and (max-width: 576px) {
  .parrafo-postre {
    font-size: medium; } }

@media screen and (max-width: 768px) {
  .parrafo-postre {
    font-size: larger; } }

/*fin estilos seccion postres*/
html, body {
  overflow-x: hidden;
  color: black;
  height: 100%;
  width: 101%;
  margin: 0px;
  padding: 0px; }

/*estilos seccion contactos */
.titulo-contacto {
  text-align: center;
  background-image: linear-gradient(to bottom, #2C3246, #9195a0, #FFFFFF);
  margin-bottom: 8%;
  margin-top: 5%; }

.divcontacto {
  text-decoration: underline;
  background-image: url(../images/canillas.png);
  color: azure;
  font-size: 1.5em; }

.div-redes {
  padding-bottom: 0%; }

/*fin estilos seccion contactos*/
html, body {
  overflow-x: hidden;
  color: black;
  height: 100%;
  width: 101%;
  margin: 0px;
  padding: 0px; }

/*estilos footer*/
.foot {
  padding-top: 5%; }

/*fin estilos footer*/
