@import "./base/variable";

.titulo-contacto {
    @include titulos-section;
    margin-top: 5%;
}

.divcontacto {
    text-decoration: underline;
    background-color: rgb(68, 66, 66);
    color: azure;
    font-size: 1.5em;
    
}

.fotos-contac {
    .foto-pizza {
        max-width: 100%;
    }
}


.div-redes {
    padding-bottom: 10%;
}