/*estilo h1*/
h1 {
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-size: 3em;
    background-image: linear-gradient(black , white);
    color: black ;
    text-align: left;
    padding-top: .5em;
    
}


    /*fin estilo h1*/
    
    /*nav principal encabezado*/

.menu-nav :hover{
    background-color: #887d7d;
    transition: all 1s;
    border-radius: 5%;
    
}
.menu-nav {
    background-color: rgb(34, 32, 32);
}




.nav , .menu-nav , .li-home , .li-esp , .li-cerv , .li-postr , .li-contac , .home-a , .esp-a , .cerv-a , .post-a , .contac-a {
    list-style: none;
    text-align: center;
    text-decoration: none;
    color: #f4f4f4;
    
}

.li-home , .li-esp , .li-cerv , .li-postr, .li-contac {
    display: inline-block;
    text-decoration: none;
    padding: 30px;
    font-size: 1.5em;
    margin: 1em;
    /*fin nav principal encabezado*/
}
   
    /*style h2*/
h2 {
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    line-height: 1;
    font-weight: 100;
    text-align: center;
    font-size: 4em;
    color: white ;
    padding: 10px;
    background-image: linear-gradient(to top, black , grey);
    margin-top: 12%;    
}
    /*fin style h2*/

    /*style img*/

    /*fin style img*/

    /*comienzo estilo header*/
.header {
    
    background-image: url("images/cuatrovasos.avif");
    max-width: 100%;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    padding: 20px;
    padding-bottom: 20em;
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    grid-template-rows: repeat(2, 1fr);
    
    
}
.conteinervermas {
    font-size: 3em ;
    padding-left: 44.3% ;
    padding-right: 44.3%;
    background-color: black;
    text-align: center;
    display: grid;
    grid-template-columns: (1,1fr);
    grid-template-rows: (1,1fr);
}
    /*fin estilo header*/

/*section 1*/

.contein-carrusel {
    margin-top: 10%;
}

.divparr {
    margin-top: 20%;
}

.conth3 {
    padding-bottom: 4%;
}

.marg {
    margin-left: 5%;
}

h3 {
    padding-top: 2%;
    padding-bottom: 2%;
    
}

.text-center {
    background-image: linear-gradient(grey,rgb(243, 231, 231)); 
    padding-bottom: 2%;
}

.div-parr-cer {
    margin-left: 2%;
    margin-right: 2%;
    margin-top: 2%;
    margin-bottom: 2%;
}

    /*section footer*/

    .sectionfot {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        grid-template-rows: 0.2fr 0.5fr;
        grid-column-gap: 0px;
        grid-row-gap: 0px;
    }
    
    .logofooter {
        grid-area: 3 / 2 / 3 / 2;
        padding-left: 40%;
    }
    
    .sectionfot {
        border: 2px solid  white;
        background-color: black;
        border-radius: 10px;
    }
    
    .frase-footer {
        font-size: 1.5em;
        grid-area: 1 / 3 / 2 / 3;
    }
    
    .info-footer {
        font-size: 1.4em;
        margin-left: 5%;
        margin-bottom: 3%;
    }
        /*fin footer*/