@import "base/variable";

.cont-h3 {
    @include titulos-section

}

.titulo-cerveza {
    margin-top: 10%;
}

.parrafo-cerveza {
    .div-parr-cer {
        .parrafo-cerv {
            margin-bottom: 5%;
            text-decoration: underline;
        }
    }
}


ul {
    li {
        background-color: grey;
        /*background-image: linear-gradient(to left, black , grey);*/
        margin-bottom: 2%;
        
    }
}

.img-cerveza {
    padding-top: 5%;
    padding-bottom: 5%;
}

.foto-copa {
    max-width: 100%;
}