@import "variable";


.cont-h3 {
    @include titulos-section;

}

.titulo-cerveza {
    margin-top: 10%;
}




.parrafo-cerveza {
    .div-parr-cer {
        .parrafo-cerv {
            margin-bottom: 5%;
            text-decoration: underline;
        }
    }
}


ul {
    
    li {
        
        margin-bottom: 6%;
        
    }
}

.img-cerveza {
    padding-top: 5%;
    padding-bottom: 5%;
}

.foto-copa {
    max-width: 100%;
}

.bg-images {
    background-image: url(../images/degustacion.avif);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    padding-top: 5%;
    padding-bottom: 5%;
}

.contenedor-cervezas {
    margin-bottom: 10%;
}