@import "variable";

.titulo-contacto {
    @include titulos-section;
    margin-top: 5%;
}

.divcontacto {
    text-decoration: underline;
    background-image: url(../images/canillas.jpg);
    color: azure;
    font-size: 1.5em;
    
}



.div-redes {
    padding-bottom: 0%;
}