@import "variable";

header {
    background-image: url(../images/cuatrovasos.avif);
    @include bg-header-principal;

}

h1 {
    color: $color-titulos;
    margin-top: 15%;
    background-color: $color-bg-titulos;
    font-family: $font-titulos;
    font-size: $font-size-titulos;
    padding-top: 2%;
    padding-bottom: 1em;
}


.header {
    .nav-principal {
        .conteiner-titulo-nav {
            .titulo-nav {
                font-size: 2em;
                color: $color-titulos;
            }

        }
    }
}

.boton-vermas {
    @include bt-vermas;

}

.navbar {
    justify-content: space-evenly;
}

.nav-principal {
    background-color: grey;
    padding: 0;
}

.logo-cdo {
    max-width: 90px !important;
}



@media screen and (max-width: 576px) {
    h1 {
        font-size: $font-size-small;
        margin-top: 85%;
    }

    .logo-cdo {
        max-width: 40px !important; 
    }

    .boton-vermas {
        font-size: $font-size-small;
    }

    .sub-t {
        font-size: $font-size-small;
        color: black;
    }

    .nav-pag {
        margin-bottom: 30%;
    }
    .navbar-nav {
        margin-top: 3%;
    }
    
}