$color-titulos: white; 
$color-bg-titulos: black;
$font-titulos: 'Arvo', serif;
$font-size-titulos: 3em;
$font-size-small: 1em;


@mixin bg-header-principal {
    background-image: url(/images/cuatrovasos.avif);
    max-width: 100%;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    padding: 20px;
    padding-bottom: 30%;    
    
}
@mixin bt-vermas {
    font-size: 2em;
    background-color: grey;   
}

@mixin titulos-section {
    text-align: center;
    background-image: linear-gradient(to top, black , grey);
    margin-bottom: 8%;
}

