$color-titulos: white; 
$color-bg-titulos: black;
$font-titulos: 'Arvo', serif;
$font-size-titulos: 3em;
$font-size-small: 1em;


@mixin bg-header-principal {
    
    max-width: 100%;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    padding: 20px;
    padding-bottom: 30%;    
    
}
@mixin bt-vermas {
    font-size: 2em;
    background-color: grey;   
}

@mixin titulos-section {
    text-align: center;
    background-image: linear-gradient(to bottom, #2C3246 , #9195a0 , #FFFFFF);
    margin-bottom: 8%;
}

html,body {
    overflow-x: hidden;
    color:black;     
    height:100%;
    width:101%;
    margin: 0px;
    padding: 0px;
  }